<p>Hi <%= user.email %>!</p>
<p><b><%= client.name %></b> is requesting access to your account.</p>

<form action="/api/oauth/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>" />
  <input name="scope" type="hidden" value="<%= scope %>" />

  <% if (scope === "read:userdata") { %>
  <p>Do you want to allow <b><%= client.name %></b> to access your account information?</p>
  <% } %> <% if (scope === "read:medication") { %>
  <p>Do you want to allow <b><%= client.name %></b> to access your medication?</p>
  <% } %> <% if (scope.split(':')[0] === "write") { %>
  <p>Do you want to allow <b><%= client.name %></b> to make changes to your data?</p>
  <% } %>

  <div>
    <input type="submit" value="Allow" />
  </div>
</form>
